* {
    padding: 0; 
    margin: 0; 
    /* box-sizing: border-box; */
}

/* skip to main content */ 


/* nav CSS for all pages */

.navbar {
    display: flex; 
    min-height: 10vh; 
    width: 100%; 
    background: #fed0d2; 
    position: relative; 
}

.logo-name {
    display: flex; 
    align-items: center; 
    text-decoration: none;
    color: #000; 
    font-size: 30px; 
}

nav {
    display: flex; 
    box-sizing: border-box; 
    padding: 10px; 
    width: 100%;
    justify-content: space-between; 
    align-items: center; 
} 

.nav-links {
    flex: 1; 
    text-align: right; 
} 

.nav-links ul li {
    list-style: none; 
    display: inline-block; 
    padding: 8px 12px; 
    position: relative; 
} 

.nav_item {
    color: #000000; 
    text-decoration: none; 
    font-size: 20px;
} 

.nav-links ul li::after {
    content: ''; 
    width: 0%; 
    height: 2px; 
    background: #000000; 
    display: block; 
    margin: auto; 
    transition: 0.5s; 
}

.nav-links ul li:hover::after {
    width: 100%; 
} 

/* intro CSS for index */

.intro {
    display: flex; 
    justify-content: center; 
    align-items: center;
    min-height: 75vh; 
    width: 100%; 
    background-image: url("/images/intro-opacity.png"); 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-position: center; 
    background-size: cover; 
    position: relative; 
    text-align: center;
}

.intro h1 {
    font-size: 50px;
}

.intro p {
    margin: 10px 0 35px; 
    font-size: 18px; 
}

.intro-btn {
    display: inline-block; 
    text-decoration: none; 
    color: #000000; 
    border: 1px solid #000000; 
    padding: 10px 35px; 
    font-size: 15px; 
    background: transparent; 
    position: relative; 
    cursor: pointer; 
}

.intro-btn:hover {
    border: 1px solid #fff; 
    background-color: #fff; 
    transition: 0.5s; 
} 

/* intro CSS for index */

.row {
    display: flex; 
    min-height: 60vh; 
    /* padding-bottom: 15px;  */
}

.about {
    flex: 1; 
}

/* .about:first-child {
    margin-right: 20px; 
} */

#about-pic {
    background-image: url("/images/distraught.JPG"); 
    background-repeat: no-repeat;
}    

#about-text {
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    position: relative; 
    text-align: center;
    margin: auto; 
}

#about-text h1 {
    font-size: 30px; 
}

#about-text p {
    font-size: 18px; 
}

/* .column {
    box-shadow: #000;
} */

#about-text {
    padding: 10rem 0 5rem 0;
    overflow: hidden;
}
  
/* shop CSS in index */

.section {
    /* background-color: #fed0d2; */
    background: rgba(254, 208, 210, 0.50);
    /* background: rgba(0, 151, 19, 0.3); */
    padding-top: 30px;
    padding-bottom: 50px; 
}

.cat-center {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 114rem;
    margin: auto;
    padding: 0 3rem;
}
  
.cat-center .cat {
    max-width: 37rem;
    height: 25rem;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    text-align: center;
}
  
.cat-center .cat:not(:last-child) {
    margin-right: 3rem;
}
  
.cat-center .cat img {
    width: 36.5rem;
    height: 100%;
    margin: auto;
    object-fit: cover;
    transition: all 2s ease;
}

.cat-center .cat:hover img {
    transform: scale(1.1);
}

.cat-center .cat div {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--white);
    width: 18rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}

.cat p {
    background-color: #fff; 
    color:#000; 
    text-decoration: none;
}

.title {
    text-align: center;
    margin-bottom: 5rem;
}

.title h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 500;
}

/* contact CSS in index */

.contact-info {
    padding-top: 65px;
    text-align: center;
    margin-bottom: 5rem;

}

.contact-info h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-weight: 500;
}

.contact-info p {
    padding-bottom: 10px;
}

/* footer CSS for all pages */

footer {
    text-align: center;
    padding: 3px;
    background-color: #fed0d2;
    color: white;
}

/* .footer a {
    text-decoration: none; 
    color: #fff; 
} */

.footer-insta {
    text-decoration-color: #fff;
    text-decoration: none; 
    color: #fff; 
}

/* form */

.contact-header {
    text-align: center; 
    padding-top: 30px; 
    font-size: 35px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
input[type=submit] {
    background-color: #fed0d2;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #fed0d2;
}
  
.container {
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
}

.req {
    color: red; 
}

/* .req-info {
    padding-top: 5px; 
} */

  /* shop CSS */ 

.products {
    text-align: center; 
    padding-top: 30px; 
    font-size: 35px;
}
 
.shop-products { 
    /* padding-top: 30px;  */
    padding: 30px; 
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
}

.shop-products > figure {
    flex-basis: 350px; 
} 

.shop-products figure img {
    object-fit: cover; 
    max-width: 100%; 
    max-height: 100%; 
    vertical-align: middle; 
    border-radius: 5px;
}

.gallery__img { 
    opacity: 1.0; 
    filter: alpha(opacity=100); 
} 

.gallery__img:hover {
    /* transform: scale(1.05);  */
     opacity: 0.8; 
     filter: alpha(opacity=80); 
} 

.gallery__item:hover {
    text-decoration: underline;
}

.coming-soon {
    opacity: 1.0; 
    filter: alpha(opacity=100); 
}

/* .coming-soon:hover {
    opacity: 0.8; 
     filter: alpha(opacity=80); 
} */

.caption {
    padding-top: 10px;
    text-align: center;
}

/* .caption:hover {
    text-decoration: underline;
} */

/* collections CSS + jewelry + keychains + phone charms (as of right now) */ 

/* .collections-products {
    text-align: center; 
    padding-top: 30px; 
    font-size: 35px;
}

.collection-shop {
    padding: 30px; 
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
}

.collection-shop > figure {
    flex-basis: 350px; 
} 

.collection-shop figure img {
    object-fit: cover; 
    max-width: 100%; 
    max-height: 100%; 
    vertical-align: middle; 
    border-radius: 5px;
}

.collection__img:hover {
    transform: scale(1.05); 
     opacity: 0.8; 
     filter: alpha(opacity=80); 
}  */

/* .coming-soon {
    opacity: 1.0; 
    filter: alpha(opacity=100); 
}

.coming-soon:hover {
    opacity: 0.8; 
     filter: alpha(opacity=80); 
} */

/* cart CSS */ 
