/* font-family: 'Playfair Display', serif; */

* {
    padding: 0; 
    margin: 0; 
    /* box-sizing: border-box; */
}

/* skip to main content */ 
.skip {
    background-color: #fff; 
    color: #000; 
    left: 50%; 
    position: absolute; 
    padding: 10px; 
    transform: translate(-50%, -100%);
    transition: transform 0.3s; 
    z-index: 100; 
    font-size: 24px; 
} 

.skip:focus {
    transform: translate(-50%, 0%);
}

/* nav CSS for all pages */

/* Default CSS for screens smaller than 780px */
.navbar {
    display: flex;
    flex-direction: column;
    min-height: 10vh;
    width: 100%;
    background: #fed0d2;
    position: relative;
}

.logo-name {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-size: 30px;
}

nav {
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    margin-top: 20px;
}

.nav-links ul {
    padding: 0;
    margin: 0;
}

.nav-links ul li {
    list-style: none;
    display: block;
    padding: 8px 0;
    position: relative;
}

.nav_item {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #000000;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

/* Media Query for screens greater than 780px */
@media only screen and (min-width: 780px) {
    .navbar {
        display: flex; 
        min-height: 10vh; 
        width: 100%; 
        background: #fed0d2; 
        position: relative; 
    }
    
    .logo-name {
        display: flex; 
        align-items: center; 
        text-decoration: none;
        color: #000; 
        font-size: 30px; 
    }
    
    nav {
        display: flex; 
        box-sizing: border-box; 
        padding: 10px; 
        width: 100%;
        justify-content: space-between; 
        align-items: center; 
        font-family: 'Playfair Display', serif;
        font-weight: 400;
    } 
    
    .nav-links {
        flex: 1; 
        text-align: right; 
        font-weight: 500;
    } 
    
    .nav-links ul li {
        list-style: none; 
        display: inline-block; 
        padding: 8px 20px; 
        position: relative; 
    } 
    
    .nav_item {
        color: #000000; 
        text-decoration: none; 
        font-size: 20px; 
    } 
    
    .nav-links ul li::after {
        content: ''; 
        width: 0%; 
        height: 2px; 
        background: #000000; 
        display: block; 
        margin: auto; 
        transition: 0.5s; 
    }
    
    .nav-links ul li:hover::after {
        width: 100%; 
    }
}

/* .navbar {
    display: flex; 
    min-height: 10vh; 
    width: 100%; 
    background: #fed0d2; 
    position: relative; 
}

.logo-name {
    display: flex; 
    align-items: center; 
    text-decoration: none;
    color: #000; 
    font-size: 30px; 
}

nav {
    display: flex; 
    box-sizing: border-box; 
    padding: 10px; 
    width: 100%;
    justify-content: space-between; 
    align-items: center; 
    font-family: 'Playfair Display', serif;
    font-weight: 400;
} 

.nav-links {
    flex: 1; 
    text-align: right; 
    font-weight: 500;
} 

.nav-links ul li {
    list-style: none; 
    display: inline-block; 
    padding: 8px 20px; 
    position: relative; 
} 

.nav_item {
    color: #000000; 
    text-decoration: none; 
    font-size: 20px; 
} 

.nav-links ul li::after {
    content: ''; 
    width: 0%; 
    height: 2px; 
    background: #000000; 
    display: block; 
    margin: auto; 
    transition: 0.5s; 
}

.nav-links ul li:hover::after {
    width: 100%; 
}  */

/* .nav_links ul li:focus::after,
.nav_links ul li:active::after {
    width: 100%; 
    transition: none; 
    border-bottom: 2px solid black; 
} */


/* intro CSS for index */

.intro {
    display: flex; 
    justify-content: center; 
    align-items: center;
    min-height: 75vh; 
    width: 100%; 
    background-image: url("../images/intro-opacity.png"); 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-position: center; 
    background-size: cover; 
    position: relative; 
    text-align: center;
}

.intro h1 {
    font-size: 50px; 
    font-family: 'Playfair Display', serif;
    font-weight: 600; 
}

.intro p {
    margin: 10px 0 35px; 
    font-size: 18px; 
    /* font-family: gayaku; */
}

.intro-btn {
    display: inline-block; 
    text-decoration: none; 
    color: #000000; 
    border: 1px solid #000000; 
    padding: 10px 35px; 
    font-size: 15px; 
    background: transparent; 
    position: relative; 
    cursor: pointer; 
}

.intro-btn:hover {
    border: 1px solid #fff; 
    background-color: #fff; 
    transition: 0.5s; 
} 

/* about CSS for index */

.row {
    display: flex;
    flex-wrap: wrap;
    min-height: 60vh; 
    padding: 5px; 
    justify-content: space-between;
  }
  
  .about-pic img {
    max-width: 100%;
    height: auto;
  }

  /* .about {
    flex: 1;
  }
   */
  .about:first-child {
    margin-right: 20px;
  }
  
  /* #about-pic {
    background-image: url("../images/distraught.JPG");
    background-repeat: no-repeat;
  } */
  
  #about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    margin: auto;
  }
  
  #about-text h1 {
    font-size: 30px;
    font-family: 'Playfair Display', serif;
    padding-bottom: 10px;
  }
  
  #about-text p {
    font-size: 18px;
  }
  
  #about-text {
    padding: 10rem 0 5rem 0;
    overflow: hidden;
  }

  @media screen and (min-width: 780px) {
    .row {
      display: flex;
      min-height: 60vh;
    }
    
    .about {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    
    .about:first-child {
      margin-right: 0;
      margin-bottom: 20px;
    }
    
    /* #about-pic {
      background-image: url("../images/distraught.JPG");
      background-repeat: no-repeat;
      margin-bottom: 20px;
    } */
    
    #about-text {
      text-align: center;
    }
  }
  
/* shop CSS in index */

.section {
    background: rgba(254, 208, 210, 0.50);
    padding-top: 30px;
    padding-bottom: 50px; 
}

.title {
    text-align: center;
    margin-bottom: 5rem;
}

.title h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1rem; 
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

.title p { 
    font-size: 20px;
    font-weight: 400; 
} 

.container {
    padding: 30px; 
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
}

.container > img {
    flex-basis: 350px; 
} 

.box { 
    text-align: center; 
} 

.container img {
    width: 100%; 
    height: 100%; 
    vertical-align: center;
} 

.box h1 {
    background-color: #fff; 
    color:#000; 
    text-decoration: none;
}

.box h1 a:visited {
    background-color: #fff; 
    color:#000; 
    text-decoration: none;
}

.box {
    text-decoration: none;
}

@media screen and (min-width: 780px) { 
    .section {
        /* background-color: #fed0d2; */
        background: rgba(254, 208, 210, 0.50);
        /* background: rgba(0, 151, 19, 0.3); */
        padding-top: 30px;
        padding-bottom: 50px; 
    }
    
    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 114rem;
        margin: auto;
        padding: 0 3rem;
    }
      
    .container .box {
        max-width: 37rem;
        height: 25rem;
        overflow: hidden;
        position: relative;
        text-align: center;
    }
      
    .container .box img {
        width: 36.5rem;
        height: 100%;
        margin: auto;
        object-fit: cover;
        transition: all 2s ease;
    }
    
    .container .box:hover img {
        transform: scale(1.1);
    }
    
    .container .box div {
        position: absolute;
        bottom: 15%;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--white);
        width: 18rem;
        height: 5rem;
        line-height: 5rem;
        text-align: center;
        font-size: 2rem;
        font-family: 'Playfair Display', serif;
        font-weight: 600;
    }
    
    .box h1 {
        background-color: #fff; 
        color:#000; 
        text-decoration: none;
    }

    .box h1 a:visited {
        background-color: #fff; 
        color:#000; 
        text-decoration: none;
    }
    
    .box {
        text-decoration: none;
    }
    
    .title {
        text-align: center;
        margin-bottom: 5rem;
    }
    
    .title h1 {
        font-size: 3rem;
        text-transform: uppercase;
        margin-bottom: 1rem; 
        font-family: 'Playfair Display', serif;
        font-weight: 600;
    }
    
    .title p { 
        font-size: 20px;
        font-weight: 400; 
    }
}
/* contact CSS in index */

.contact-info {
    padding-top: 65px;
    text-align: center;
    margin-bottom: 5rem;

}

.contact-info h1 {
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-family: 'Playfair Display', serif;
    font-weight: 600;
}

.contact-info p {
    padding-bottom: 15px; 
    font-size: 20px;
    font-weight: 400; 
} 

.contact-btn {
    display: inline-block; 
    text-decoration: none; 
    color: #000000; 
    border: 1px solid #000000; 
    padding: 10px 35px; 
    font-size: 15px; 
    background: transparent; 
    position: relative; 
    cursor: pointer; 
}

.contact-btn:hover {
    border: 1px solid #fed0d2; 
    background-color: #fed0d2; 
    transition: 0.5s; 
} 

/* footer CSS for all pages */

footer {
    /* position: fixed;  */
    bottom: 0px; 
    width: 100%;  
    text-align: center;
    padding: 15px;
    background-color: #fed0d2;
    color: black;
}

.footer a {
    text-decoration: none; 
    color: #000; 
}

.footer-insta {
    text-decoration-color: #000;
    text-decoration: none; 
    color: #000; 
}

/* form */

.contact-header {
    text-align: center; 
    padding-top: 30px; 
    font-size: 35px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
input[type=submit] {
    background-color: #fed0d2;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: #fed0d2;
}
  
.container {
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
}

.req {
    color: #0008FF; 
}

/* .req-info {
    padding-top: 5px; 
} */

  /* shop CSS */ 

.products {
    text-align: center; 
    padding-top: 30px; 
    font-size: 35px; 
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}
 
.shop-products { 
    /* padding-top: 30px;  */
    padding: 30px; 
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
}

.shop-products > figure {
    flex-basis: 350px; 
} 

.shop-products figure img {
    object-fit: cover; 
    max-width: 100%; 
    max-height: 100%; 
    vertical-align: middle; 
    border-radius: 5px;
}

.gallery__img { 
    opacity: 1.0; 
    filter: alpha(opacity=100); 
}  

.gallery__img:hover {
    /* transform: scale(1.05);  */
     opacity: 0.8; 
     filter: alpha(opacity=80); 
} 

.gallery__item:hover {
    text-decoration: underline; 
}

.coming-soon {
    opacity: 1.0; 
    filter: alpha(opacity=100); 
}

/* .coming-soon:hover {
    opacity: 0.8; 
     filter: alpha(opacity=80); 
} */

.caption {
    padding-top: 10px;
    text-align: center;
}

/* .caption:hover {
    text-decoration: underline;
} */

/* cart CSS */ 
.cart h1 { 
    padding-top: 50px;
    text-align: center; 
    font-family: 'Playfair Display', serif;
    font-weight: 600; 
    font-size: 3rem; 
}

.about-links {
    text-decoration: underline; 
    color: slateblue; 
}

/* CSS for gallery */ 
.gallery {
    margin: 0; 
}

.image-grid { 
    --gap: 16px; 
    --num-cols: 4; 
    --row-height: 300px; 

    box-sizing: border-box; 
    padding: var(--gap); 

    display: grid; 
    grid-template-columns: repeat(var(--num-cols), 1fr); 
    grid-auto-rows: var(--row-height);  

    gap: var(--gap); 
}

.image-grid > img {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
} 

/* image takes up 2 columns */
.image-grid-col-2 {
    grid-column: span 2; 
}

/* image takes up 2 rows */
.image-grid-row-2 {
    grid-row: span 2; 
}

/* anything under 1024px */
@media screen and (max-width: 1024px) {
    .image-grid {
        --num-cols: 2; 
        --row-height: 200px; 
    }
}